.body {
  text-align: start;
  margin-top: auto;

  .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #000;
  }
}